body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Arial", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  padding: 5px;
  background-color: rgb(244, 244, 244);
  border-bottom: 1px solid rgb(214, 214, 214);
  box-shadow: 0px 2px 0px 0px rgba(107, 107, 107, 0.2);
}

header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  margin: 45px auto 15px;
  width: 918px;
}

.headerButton {
  background-color: rgb(0, 111, 202);
  border: none;
  font-weight: bold;
  color: white;
  text-shadow: 0px 2px 2px rgb(0, 92, 168);
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right: 7px;
  border-radius: 4px;
}
.headerButton:active {
  background-color: rgb(0, 91, 166);
  border: 1px solid rgb(0, 69, 125);
  color: rgb(194, 208, 227);
  text-shadow: 0px 2px 2px rgb(0, 80, 146);
  padding: 4px 9px;
}

div#quickAddRenew {
  position: relative;
  display: inline-block;
}

div#quickAddForm {
  visibility: hidden;
  background-color: white;
  border-radius: 2px;
  padding: 20px 25px 20px 20px;
  position: absolute;
  z-index: 1;
  top: 168%;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.3));
}
div#quickAddForm::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 9%;
  margin-left: -9px;
  border-width: 9px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

#quickInput {
  width: 265px;
  margin-bottom: 10px;
}

div#closeQuickAddForm {
  position: absolute;
  top: 2px;
  right: 8px;
  font-size: 12px;
}
div#closeQuickAddForm:hover {
  cursor: pointer;
}

div.loupe {
  display: inline-block;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  color: rgb(147, 147, 147);
  margin-right: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

#dropdownList {
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  max-width: 210px;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-top: 15px;
  padding: 7px 7px;
  z-index: 1;
}

#dropdownList p {
  white-space: nowrap;
  text-overflow: clip;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 918px;
  margin: 15px auto;
}

#monthYear {
  width: 140px;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
}

#minus {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

nav button {
  padding: 0 4px;
}

button:hover {
  cursor: pointer;
}

button#today {
  margin-left: 13px;
}

.tooltip{
  background: black;
  font-family: "DejaVu Sans", sans-serif;
  font-size: 13px;
  color: white;
  padding: 5px;
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
  border-radius: 10px; */
  opacity: 0;
}

#calendar {
  width: 918px;
  line-height: 1.2em;
  font-size: 12px;
  color: rgb(153, 153, 153);
  text-align: left;
  border-collapse: collapse;
  border: 1px solid rgb(238, 238, 238);
  margin: auto;
}

#calendar thead th, td {
  font-weight: normal;
  border: 1px solid rgb(238, 238, 238);
}

#calendar thead th, tbody td {
  position: relative;
  width: 110px;
  height: 110px;
  padding: 10px;
  vertical-align: top;
}

#calendar thead th.today, #calendar tbody td.today {
  background: rgb(244, 244, 244);
}

#calendar thead th.event, #calendar tbody td.event {
  background: rgb(193, 228, 255);
}

div.square {
  width: 100%;
  height: 100%;
}
div.square:hover {
  cursor: pointer;
}

div#closeForm {
  position: absolute;
  top: 10px;
  right: 10px;
}
div#closeForm:hover {
  cursor: pointer;
}

#calendar th:hover, #calendar td:hover {
  background-color: rgb(229, 241, 250);
  border: 2px solid rgb(135, 194, 241);
}

#calendar th .form1L, #calendar th .form1R,
#calendar td .form1L, #calendar td .form1R,
#calendar td .form2L, #calendar td .form2R,
#calendar td .form3L, #calendar td .form3R {
  visibility: hidden;
  width: 310px;
  height: 360px;
  background-color: white;
  color: #000;
  text-align: center;
  border-radius: 2px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

#calendar th .form1L, #calendar td .form1L {
  top: -20px;
  left: 112%;
}
#calendar th .form1R, #calendar td .form1R {
  top: -20px;
  right: 112%;
}

#calendar td .form2L {
  top: -120px;
  left: 112%;
}
#calendar td .form2R {
  top: -120px;
  right: 112%;
}

#calendar td .form3L {
  top: -220px;
  left: 112%;
}
#calendar td .form3R {
  top: -220px;
  right: 112%;
}

#calendar th .form1L::after, #calendar td .form1L::after, #calendar td .form2L::after, #calendar td .form3L::after,
#calendar th .form1R::after, #calendar td .form1R::after, #calendar td .form2R::after, #calendar td .form3R::after {
  content: "";
  position: absolute;
  margin-top: -7px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent white white;
  transform-origin: 0 0;
}
#calendar th .form1L::after, #calendar td .form1L::after, #calendar td .form2L::after, #calendar td .form3L::after {
  right: 95.3%;
  transform: rotate(45deg);
  box-shadow: -3px 4px 4px 0px rgba(0, 0, 0, 0.2);
}
#calendar th .form1R::after, #calendar td .form1R::after, #calendar td .form2R::after, #calendar td .form3R::after {
  left: 100%;
  transform: rotate(-135deg);
  box-shadow: -4px 3px 4px 0px rgba(0, 0, 0, 0.2);
}
#calendar th .form1L::after, #calendar td .form1L::after {
  top: 9%;
}
#calendar th .form1R::after, #calendar td .form1R::after {
  top: 14.5%;
}
#calendar td .form2L::after {
  top: 48.5%;
}
#calendar td .form2R::after {
  top: 53.75%;
}
#calendar td .form3L::after {
  top: 89%;
}
#calendar td .form3R::after {
  top: 94%;
}

p.today, p.event {
  color: #000000;
  font-weight: bold;
}

p {
  margin-top: 0;
  margin-bottom: 0.5em;
}

p.event {
  margin-bottom: 0.25em;
}

p.date {
  font-size: 12px;
  color: rgb(153, 153, 153);
}

hr.list {
  color: rgb(239, 239, 239);
  height: 1px;
  margin: 5px;
}

div.list {
  padding: 4px 6px;
}

div.list:hover {
  background-color: rgb(24, 159, 255);
  cursor: pointer;
}

div.list:hover p {
  color: white;
}

.eventForm {
  width: 85%;
  padding: 5px 5px;
  margin: 3px 0;
  box-sizing: border-box;
  font-family: "Arial";
  font-size: 12px;
}

#eventInput {
  margin-top: 20px;
  font-size: 16px;
}

div.eventForm {
  text-align: left;
  font-size: 13px;
  margin-bottom: 8px;
  margin-left: 8%;
  margin-right: 8%;
}

div.eventForm div {
  color: rgb(108, 108, 108);
  font-size: 12px;
  margin-bottom: 5px;
}

div#eventInput {
  font-weight: bold;
  font-size: 17px;
}

textarea.eventForm {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 12px;
}

div.submit {
  display: flex;
  flex-direction: row;
  width: 85%;
  margin: auto;
}
div.submit > button {
  display: block;
  margin-right: 13px;
}
